1) Insira 5 usuários

In [2]:
INSERT INTO users (first_name, last_name, email, password_hash, salary) 
VALUES
('João', 'Silva', 'joao.silva@example.com', 'HASH_123', 50000),
('Maria', 'Santos', 'maria.santos@example.com', 'HASH_456', 60000),
('Pedro', 'Lima', 'pedro.lima@example.com', 'HASH_789', 55000),
('Ana', 'Costa', 'ana.costa@example.com', 'HASH_abc', 52000),
('Carlos', 'Oliveira', 'carlos.oliveira@example.com', 'HASH_def', 58000)
;

SyntaxError: invalid syntax (2001933367.py, line 1)

2) Insira 5 perfís para os usuários inseridos

In [ ]:
INSERT INTO profiles (bio, description, user_id)
SELECT
concat('Bio ex ', first_name),
concat('Description ex ', first_name),
id
FROM users ORDER BY id DESC LIMIT 5;

3) Insira permissões (roles) para os usuários inseridos

In [ ]:
INSERT INTO users_roles (user_id, role_id)
SELECT id, (SELECT id FROM roles ORDER BY rand() LIMIT 1)
FROM users ORDER BY id DESC LIMIT 5;

4) Selecione os últimos 5 usuários por ordem decrescente

In [ ]:
SELECT * FROM users ORDER BY id DESC LIMIT 5;

5) Atualize o último usuário inserido

In [ ]:
UPDATE users SET first_name = 'NOME ATUALIZADO',
last_name = 'EXERCÍCIO'
WHERE id = 117;

6) Remova uma permissão de algum usuário

In [ ]:
DELETE FROM users_roles WHERE user_id = 518;

7) Remova um usuário que tem a permissão "PUT"

In [ ]:
-- SELECT * FROM users_roles WHERE role_id = 11 LIMIT 1;
DELETE FROM users_roles WHERE role_id = 11 LIMIT 1;

8) Selecione usuários com perfís e permissões (obrigatório)

In [ ]:
SELECT u.id AS uid, u.first_name, r.name, p.bio
FROM users u
INNER JOIN users_roles ur ON u.id = ur.user_id 
INNER JOIN roles r ON ur.role_id = r.id
INNER JOIN profiles p ON p.user_id = u.id;

9) Selecione usuários com perfís e permissões (opcional)

In [ ]:
SELECT u.id as uid, u.first_name, r.name, p.bio 
from users u
left join users_roles ur on u.id = ur.user_id 
left join roles r on ur.role_id = r.id
left join profiles p on p.user_id = u.id;

10) Selecione usuários com perfís e permissões ordenando por salário

In [3]:
SELECT u.id as uid, u.first_name, r.name, p.bio, u.salary 
from users u
left join users_roles ur on u.id = ur.user_id 
left join roles r on ur.role_id = r.id
left join profiles p on p.user_id = u.id
order by u.salary ASC;

SyntaxError: invalid syntax (2118939927.py, line 1)