# Exercicios básicos de SQL

## A base de dados foi gerada automaticamente no DBEAVER, apenas adaptei para o exercício funcionar.

Apenas para não ocupar muito espaço, tranferi o Código `insert` para o arquivo\
inserir_dados.sql, onde eu inseri mais 141 clientes na base de dados. Apenas\
para ter mais dados os exercícios.

- O código é:
```sql
INSERT INTO Customer (CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId)
VALUES(61, 'Mariana', 'Lima', 'SuperTech Ltd', '456 Rua do Sol', 'Paris', NULL, 'France', '75001', '+33 1 23 45 67 89', '+33 1 23 45 67 90', 'mariana.lima@example.com', 3),
...
```
até o Id 200

obs: Foi gerado por inteligência artificial

## Quantos clientes são de São Paulo?
```sql
SELECT COUNT(city) AS "Clientes de São Paulo"
FROM Customer
WHERE City = "São Paulo"
```

## Quantas pessoas temos com o sobrenome que inicia com a letra P?
```SQL
SELECT COUNT(LastName) AS "Sobre nome começando com P"
FROM Customer
WHERE LastName LIKE 'P%'
```

## LastName das pessoas que iniciam com P
```SQL
SELECT LastName AS Sobrenome
FROM Customer
WHERE LastName LIKE 'P%'
```

## Em quantas cidades únicas estão cadastrados nossos clientes?
```SQL
SELECT COUNT(DISTINCT(City)) AS "Número de cidades"
FROM Customer
```

## Quais cidades únicas estão cadastrados nossos clientes?
```SQL
SELECT City As Cidades
FROM Customer
GROUP BY City
```

## Quantos Track tem Milliseconds entre 200000 a 300000 dolares?
```SQL
SELECT COUNT(Milliseconds) AS Total
FROM Track
WHERE Milliseconds BETWEEN 200000 AND 300000;
```

## Quantos produtos cadastrados tem a palavra 'lov' no nome deles?
```SQL
SELECT COUNT(Name) AS Total
FROM Track
WHERE Name LIKE '%lov%'
```

## Quantas pessoas tem o mesmo Lastname
```SQL
SELECT SUM(Quantidade) Soma_Grupos_Com_Mais_De_Uma_Pessoa
FROM (
    SELECT COUNT(*) AS Quantidade
    FROM Customer 
    GROUP BY LastName
    HAVING COUNT(*) > 1
) AS Grupos;
```

## Quantas pessoas tem o mesmo Lastname em cada lastname
```SQL
SELECT LastName, COUNT(LastName) AS Quantidade
FROM Customer 
GROUP BY LastName 
ORDER BY Quantidade DESC;
```

## Qual a média dos milleseconds
```SQL
SELECT AVG(Milliseconds)
FROM Track
```

## Quais foram os maiores 10 Milliseconds 
```SQL
SELECT Milliseconds
FROM Track
ORDER BY Milliseconds DESC
LIMIT 10
```

## Encontre os Track com os bytes acima de 100000000
```SQL
SELECT *
FROM Track
WHERE Bytes > 10000000
ORDER BY Bytes DESC
```

## Informe o nome da MediaType de acordo com a Foreign Key MediaTypeID da Track.
```SQL
SELECT t.Name, mt.Name 
FROM Track AS t
LEFT JOIN MediaType AS mt 
ON T.MediaTypeId = mt.MediaTypeId 
LIMIT 10
```

## Union remove os duplicados
```sql
SELECT FirstName, LastName 
FROM Customer
WHERE FirstName LIKE '%LUIZ%'
UNION 
SELECT Name as "Track Name", Composer
FROM Track t 
WHERE Composer  LIKE '%LUIZ%'
```