# **MODELAGEM**

## Exemplos de Tipos de Dados

### Tipos de Dados Numéricos:

- **INT**: Utiliza-se o tipo de dados INT para armazenar valores inteiros.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_inteiro) 
    VALUES (10);
    ```

- **BIGINT**: O tipo de dados BIGINT é semelhante ao tipo INT, mas pode \
armazenar valores inteiros maiores.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_grande) 
    VALUES (9223372036854775808);
    ```

- **SMALLINT**: O tipo de dados SMALLINT é usado para armazenar valores \
inteiros menores.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_pequeno) 
    VALUES (-32768);
    ```

- **TINYINT**: O tipo de dados TINYINT é semelhante ao tipo SMALLINT, mas pode \
armazenar valores inteiros em um intervalo menor.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_muito_pequeno) 
    VALUES (-128);
    ```

- **DECIMAL**: O tipo de dados DECIMAL é usado para armazenar valores numéricos \
com uma precisão especificada.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_decimal) 
    VALUES (123.45);
    ```

- **FLOAT**: O tipo de dados FLOAT é usado para armazenar valores numéricos com\
uma precisão específica.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_float) 
    VALUES (3.1415926535897932385);
    ```

- **DOUBLE**: O tipo de dados DOUBLE é semelhante ao tipo FLOAT, mas pode \
armazenar valores numéricos com uma precisão maior.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (valor_double) 
    VALUES (3.14159265358979323846);
    ```

### Tipos de Dados de Caractere:

- **CHAR**: O tipo de dados CHAR é usado para armazenar dados de texto fixos \
com um comprimento específico.
  - Exemplo:
    ```sql
    CREATE TABLE meus_valores (nome CHAR(10));
    ```

- **VARCHAR**: O tipo de dados VARCHAR é semelhante ao tipo CHAR, mas permite \
valores de texto variáveis com comprimentos diferentes em cada coluna.
  - Exemplo:
    ```sql
    CREATE TABLE meus_valores (email VARCHAR(200));
    ```

- **TEXT**: Utiliza-se o tipo de dados TEXT para armazenar dados de texto \
longos e complexos.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (descricao) 
    VALUES ('Este é um exemplo de valor de texto longo');
    ```

- **BLOB**: Utiliza-se o tipo de dados BLOB para armazenar dados binários, como \
imagens, vídeos e arquivos de documentos.
  - Exemplo:
    ```sql
    INSERT INTO meus_valores (imagem) 
    VALUES (FILE('/caminho/para/imagem.jpg'));
    ```

### Código para criar um banco de dados
```sql
CREATE DATABASE nome_do_banco_de_dados;
```

### Código para usar o banco de dados
```sql
USE nome_do_banco_de_dados;
```

### Código simples para criar tabelas
```sql
CREATE TABLE PESSOA(
Nome VARCHAR(20),
Sobrenome VARCHAR(20),
Idade INT
)
```

## Primary Key

Uma chave primária (Primary Key) em um banco de dados é um campo ou conjunto de \
campos que identifica unicamente cada registro em uma tabela. Em outras \
palavras, a chave primária garante a unicidade e a integridade dos dados em uma \
tabela, pois não pode haver dois registros com o mesmo valor na chave primária.

A chave primária é usada para indexar os dados de uma tabela de forma rápida e \
eficiente. Ela também pode ser usada como referência em relacionamentos com \
outras tabelas (chave estrangeira).

Alguns pontos importantes sobre chaves primárias:
- Unicidade: Cada valor na chave primária deve ser único dentro da tabela.
- Não nulo: O valor da chave primária não pode ser nulo (NULL).
- Indexação: A chave primária geralmente é automaticamente indexada pelo sistema\
 de gerenciamento de banco de dados (SGBD) para acelerar consultas e operações \
 de junção.
- Identificação: A chave primária é usada para identificar exclusivamente cada \
registro na tabela.
- Integridade referencial: A chave primária pode ser usada como referência em \
relacionamentos com outras tabelas (chave estrangeira), garantindo a integridade\
 referencial dos dados.

### Exemplo de PK:
```sql
CREATE TABLE CUSTOMERS
(
    ID INT NOT NULL PRIMARY KEY,
    NAME VARCHAR(50)
);

```
### Exemplo de PK:
```sql
CREATE TABLE CUSTOMERS
(
    ID INT NOT NULL,
    NAME VARCHAR(50),
    CONSTRAINT PK_CUSTOMERS PRIMARY KEY(ID)
);
```
### Exemplo de PK:
```sql
CREATE TABLE CUSTOMERS
(
    ID INT NOT NULL, CPF INT NOT NULL,
    NAME VARCHAR(50),
    CONSTRAINT PK_CUSTOMERS2 PRIMARY KEY(ID, CPF)
);
```

## Foreign key

A chave estrangeira, ou `foreignkey`, é um conceito ligeiramente diferente. Ela\
não diz respeito, especificamente, a uma tabela, mas sim a um relacionamente\
entre tabelas. De forma sucinta, a chave estrangeira é uma referencia, em uma\
tabela, a uma chave primária de outra tabela. Para facilitar a compreensão,\
tomemos como exemplo duas tabaleas: Pessoa e Carro. Para montarmos um\
relacionamento entre elas, poderiamos ter, na tabela de Carro, o campo ID_Pessoa\
fazendo referência à cháve primária da tablea Pessoa.

Diferente da chave primária, a chave estrangeira:
- Pode ser nula.
- É um campo em uma tabela que faz referência a um campo que é chave primária \
em outra tabela.
- É possível ter mais de uma (ou nenhuma) em uma tabela.

### Exemplo de Foreign key
```sql
CREATE TABLE Pessoa (
    ID_Pessoa INT PRIMARY KEY,
    Nome VARCHAR(50),
    Sobrenome VARCHAR(50)
);
CREATE TABLE Carro (
    ID_Carro INT PRIMARY KEY,
    Modelo VARCHAR(50),
    Marca VARCHAR(50),
    ID_Pessoa INT,
    FOREIGN KEY (ID_Pessoa) REFERENCES Pessoa(ID_Pessoa)
);
```
Neste exemplo, temos duas tabelas: "Pessoa" e "Carro". Na tabela "Pessoa", \
o campo "ID_Pessoa" é definido como chave primária. Na tabela "Carro", o campo \
"ID_Pessoa" é definido como chave estrangeira (foreign key) que faz referência \
ao campo "ID_Pessoa" na tabela "Pessoa". Isso estabelece um relacionamento \
entre as duas tabelas, indicando que um carro está associado a uma pessoa.

## Instruções SQL
## SELECT em SQL

O instrução `SELECT` permite consultar dados em tabelas. Essa é a operação mais\
comum quando se trabalha com banco de dados.
- **Sintaxe básica**:
  ```sql
  SELECT <colouna> FROM <tabela>
  
  -- exemplos:
    SELECT first_name, last_name FROM customer

    SELECT * FROM film
  ```

### Alias para Colunas:

Você pode usar alias para renomear colunas em consultas SQL. Isso é útil para \
fornecer nomes mais descritivos ou para evitar ambiguidades.

```sql
-- Exemplo de alias para renomear uma coluna
SELECT first_name AS primeiro_nome, last_name AS ultimo_nome FROM customer;

SELECT first_name primeiro_nome, last_name ultimo_nome FROM customer;

SELECT first_name "primeiro nome", last_name "ultimo nome" FROM customer;
```

### Operadores Aritméticos:

Os operadores aritméticos são usados para realizar operações matemáticas em \
valores numéricos.

```sql
-- Exemplo de uso de operadores aritméticos
SELECT preco_unitario * quantidade AS total FROM itens_pedido;

SELECT customers_id, first_name || last_name FROM customers

SELECT customers_id, first_name || ' ' || last_name AS nome_completo
FROM customers
```

### DISTINCT

A cláusula `DISTINCT` é usada para remover duplicatas dos resultados de uma\
consulta, retornando apenas valores únicos.

```sql
-- Exemplo de uso da cláusula DISTINCT
SELECT DISTINCT categoria FROM produtos;

SELECT * FROM film_actor
SELECT DISTINCT actor_id FROM film_actor

SELECT * FROM film_category
SELECT DISTINCT category_id FROM film_category

```

### LIMIT

A cláusula `LIMIT` é usada para limitar o número de linhas retornadas por uma \
consulta.

```sql
-- Exemplo de uso da cláusula LIMIT
SELECT * FROM clientes LIMIT 10;
```

### OFFSET

A cláusula `OFFSET` é usada em conjunto com a cláusula `LIMIT` em consultas SQL \
para especificar a posição inicial das linhas a serem retornadas.

Por exemplo, se você tem uma consulta que retorna 100 linhas, mas só quer \
exibir as linhas de 51 a 60, você pode usar OFFSET 50 para pular as primeiras 50\
linhas e então usar LIMIT 10 para exibir as próximas 10 linhas.
```sql
-- Exemplo de uso da cláusula OFFSET e LIMIT
SELECT * FROM clientes ORDER BY nome LIMIT 10 OFFSET 50;
```


## WHERE

A cláusula `WHERE` é usada para filtrar os resultados de uma consulta de acordo\
com uma condição específica. Ela permite que você especifique uma condição para\
restringir as linhas retornadas pela consulta.

```sql
-- Exemplo de uso da cláusula WHERE
SELECT * FROM clientes WHERE idade > 18;

SELECT * FROM produtos WHERE preco < 50.00;

SELECT * 
FROM pedidos 
WHERE data_pedido >= '2022-01-01' AND data_pedido <= '2022-01-31';
```

A cláusula `WHERE` pode conter várias condições combinadas com operadores \
lógicos, como `AND`, `OR` e `NOT`.

```sql
-- Exemplo de uso de operadores lógicos com a cláusula WHERE
SELECT * FROM clientes WHERE idade >= 18 AND cidade = 'São Paulo';

SELECT * FROM produtos WHERE preco < 50.00 OR categoria = 'Eletrônicos';

SELECT * FROM pedidos WHERE NOT status = 'Entregue';
```

Você também pode usar operadores de comparação, como <, >, <=, >=, = e \
<> (diferente), para comparar valores em suas condições.

```sql
-- Exemplo de uso de operadores de comparação com a cláusula WHERE
SELECT * FROM clientes WHERE idade >= 18;

SELECT * FROM produtos WHERE preco < 50.00;

SELECT * FROM pedidos WHERE data_pedido >= '2022-01-01';
```

A cláusula `BETWEEN` é usada para filtrar os resultados de uma consulta com base \
em um intervalo de valores. Ela permite que você especifique um valor mínimo e \
máximo e retorna todas as linhas onde a expressão está dentro desse intervalo.

```sql
-- Exemplo de uso da cláusula BETWEEN
SELECT * FROM produtos WHERE preco BETWEEN 10.00 AND 50.00;

SELECT * FROM vendas WHERE data_venda BETWEEN '2022-01-01' AND '2022-12-31';
```

A cláusula `IN()` é usada para verificar se um valor está contido em uma lista \
de valores especificada. Ela permite que você especifique vários valores em uma \
única condição e retorna todas as linhas onde a expressão está presente em \
qualquer um desses valores.

```sql
-- Exemplo de uso da cláusula IN()
SELECT * 
FROM produtos 
WHERE categoria IN ('Eletrônicos', 'Roupas', 'Acessórios');

SELECT * 
FROM clientes 
WHERE cidade IN ('São Paulo', 'Rio de Janeiro', 'Belo Horizonte');

```

### Comparação com LIKE

A cláusula LIKE é usada para realizar comparações de padrões em valores de texto.\
Ela permite que você recupere linhas de uma tabela com base em um padrão \
específico, onde o padrão pode incluir caracteres curinga como:
- % que correspondendo a zero ou mais caracteres
-  _ que correspondendo a um único caractere

```sql
-- Exemplo de uso da cláusula LIKE
SELECT * FROM clientes WHERE nome LIKE 'Maria%';

SELECT * FROM produtos WHERE nome_produto LIKE '%camisa%';

SELECT * FROM pedidos WHERE numero_pedido LIKE '_23%';
```

### ORDER BY

A cláusula ORDER BY é usada para classificar os resultados de uma consulta SQL \
em uma ordem específica com base nos valores de uma ou mais colunas.
```sql
-- Exemplo de uso da cláusula ORDER BY
SELECT * FROM clientes ORDER BY nome;

SELECT * FROM produtos ORDER BY preco DESC;

SELECT * FROM pedidos ORDER BY data_pedido ASC, valor_total DESC;
```

### Sintaxe basica do comando `SELECT` até aqui:
`SELECT <coluna> FROM <tabela> WHERE <condição>`


## Joins

Tipos de joins:
- `INNER JOIN`: Valores retornados apenas quando existe a correspondência\
de valores:
- `OUTER JOIN`: Valores retornaos quando existe ou não a correspondência:
- `CROSS JOIN`: Mistura todas as linhas (produto cartesiano.)

```sql
-- Exemplo de INNER JOIN
SELECT orders.order_id, customers.customer_name
FROM orders INNER JOIN customers ON orders.customer_id = customers.customer_id;

```
Exemplos de LEFT JOIN:
```sql
SELECT customers.customer_id, orders.order_id
FROM customers LEFT JOIN orders ON customers.customer_id = orders.customer_id;
```
Neste exemplo, estamos selecionando todos os clientes, independentemente de \
eles terem feito pedidos ou não. Se um cliente não tiver nenhum pedido \
correspondente na tabela orders, os valores correspondentes na coluna order_id\
serão nulos.

Exemplo de RIGHT JOIN:
```sql
SELECT customers.customer_id, orders.order_id
FROM customers RIGHT JOIN orders ON customers.customer_id = orders.customer_id;
```
Neste exemplo, estamos selecionando todos os pedidos, independentemente de eles\
terem um cliente correspondente ou não. Se um pedido não estiver associado a\
nenhum cliente na tabela customers, os valores correspondentes na coluna\
customer_id serão nulos.

### Agregação de dados
A agregação de dados permitindo que você calcule estatísticas, resuma informações\
e agrupe dados de acordo com determinados critérios. Aqui estão alguns exemplos\
comuns de funções de agregação:

- A função SUM() é usada para calcular a soma de valores em uma coluna.
```sql
SELECT SUM(valor_total) AS total_vendas
FROM pedidos;

```
- A função AVG() é usada para calcular a média dos valores em uma coluna.
```sql
SELECT AVG(idade) AS idade_media
FROM clientes;

```
- A função COUNT() é usada para contar o número de linhas em um conjunto de resultados.
```sql
SELECT COUNT(*) AS total_pedidos
FROM pedidos;

```
- As funções MAX() e MIN() são usadas para encontrar os valores máximos e mínimos\
em uma coluna, respectivamente.
```sql
SELECT MAX(preco) AS preco_maximo, MIN(preco) AS preco_minimo
FROM produtos;

```
- A cláusula GROUP BY é usada para agrupar linhas que tenham o mesmo valor em \
uma ou mais colunas.
```sql
SELECT categoria, COUNT(*) AS total_produtos
FROM produtos
GROUP BY categoria;

```

A diferença chave entre HAVING e WHERE é que HAVING é aplicado após a agregação\
de dados, enquanto WHERE é aplicado antes da agregação.
### Exemplo de uso do HAVING:
Suponha que queremos encontrar as categorias de produtos com uma média de\
preço superior a $100:
```sql
SELECT categoria, AVG(preco) AS media_preco
FROM produtos
GROUP BY categoria
HAVING AVG(preco) > 100;

```
Neste exemplo, estamos agrupando os produtos por categoria e calculando a média\
de preço para cada categoria. Em seguida, usamos a cláusula HAVING para filtrar\
apenas as categorias com uma média de preço superior a $100.

A cláusula HAVING é útil quando queremos aplicar condições a grupos de\
resultados após a agregação de dados. Ela nos permite realizar filtragem com\
base em resultados agregados, o que não é possível usando apenas a cláusula WHERE.


### Exemplo de como usar as duas cláusulas juntas:
Suponha que queremos encontrar as categorias de produtos com uma média de\
preço superior a $100, mas apenas para os produtos com um preço mínimo de $50:
```sql
SELECT categoria, AVG(preco) AS media_preco
FROM produtos
WHERE preco > 50
GROUP BY categoria
HAVING AVG(preco) > 100;

```
Neste exemplo, a cláusula WHERE filtra os produtos com preço superior a $50 \
antes da agregação de dados, e a cláusula HAVING filtra as categorias com uma \
média de preço superior a $100 após a agregação.