# **MODELAGEM**

## Exemplos de tipos de dados

### Tipos de Dados Numéricos:

- **INT**: Utiliza-se o tipo de dados INT para armazenar valores inteiros.
  - Exemplo: `INSERT INTO meus_valores (valor_inteiro) VALUES (10);`

- **BIGINT**: O tipo de dados BIGINT é semelhante ao tipo INT, mas pode armazenar valores inteiros maiores.
  - Exemplo: `INSERT INTO meus_valores (valor_grande) VALUES (9223372036854775808);`

- **SMALLINT**: O tipo de dados SMALLINT é usado para armazenar valores inteiros menores.
  - Exemplo: `INSERT INTO meus_valores (valor_pequeno) VALUES (-32768);`

- **TINYINT**: O tipo de dados TINYINT é semelhante ao tipo SMALLINT, mas pode armazenar valores inteiros em um intervalo menor.
  - Exemplo: `INSERT INTO meus_valores (valor_muito_pequeno) VALUES (-128);`

- **DECIMAL**: O tipo de dados DECIMAL é usado para armazenar valores numéricos com uma precisão especificada.
  - Exemplo: `INSERT INTO meus_valores (valor_decimal) VALUES (123.45);`

- **FLOAT**: O tipo de dados FLOAT é usado para armazenar valores numéricos com uma precisão específica.
  - Exemplo: `INSERT INTO meus_valores (valor_float) VALUES (3.1415926535897932385);`

- **DOUBLE**: O tipo de dados DOUBLE é semelhante ao tipo FLOAT, mas pode armazenar valores numéricos com uma precisão maior.
  - Exemplo: `INSERT INTO meus_valores (valor_double) VALUES (3.14159265358979323846);`

### Tipos de Dados de Caractere:

- **CHAR**: O tipo de dados CHAR é usado para armazenar dados de texto fixos com um comprimento específico.
  - Exemplo: `CREATE TABLE meus_valores (nome CHAR(10));`

- **VARCHAR**: O tipo de dados VARCHAR é semelhante ao tipo CHAR, mas permite valores de texto variáveis com comprimentos diferentes em cada coluna.
  - Exemplo: `CREATE TABLE meus_valores (email VARCHAR(200));`

- **TEXT**: Utiliza-se o tipo de dados TEXT para armazenar dados de texto longos e complexos.
  - Exemplo: `INSERT INTO meus_valores (descricao) VALUES ('Este é um exemplo de valor de texto longo');`

- **BLOB**: Utiliza-se o tipo de dados BLOB para armazenar dados binários, como imagens, vídeos e arquivos de documentos.
  - Exemplo: `INSERT INTO meus_valores (imagem) VALUES (FILE('/caminho/para/imagem.jpg'));`

## Executar os códigos SQL no vscode

In [1]:
import sqlite3
from pathlib import Path

current_directory = %pwd # type: ignore
ROOT_DIR = Path(current_directory)
DB_NAME = 'cotemig_example.sql'
DB_FILE = ROOT_DIR / DB_NAME
TABLE_NAME = 'COTEMIG'

# Criando banco de dados
connection = sqlite3.connect(DB_FILE)

# Conectando ao banco de dados
cursor = connection.cursor()

### Código para criar um banco de dados
- `CREATE DATABASE nome_do_banco_de_dados;`

### Código para usar o banco de dados
- `USE nome_do_banco_de_dados;`

## Criando tabela de forma simples

In [3]:
# Criando banco de dados
connection = sqlite3.connect(DB_FILE)

# Conectando ao banco de dados
cursor = connection.cursor()

cursor.execute (
    "CREATE TABLE Pessoa (\
        Nome VARCHAR(20),\
        Sobrenome VARCHAR(20),\
        Idade int)"
)